model/*
test_data/*
mvs_training/*
logs/*
*.pyc
*.rar
notebooks/*
*.DS_Store
old-models/*
commands.md
results.md
fused-point-clouds/*
dist/*
MANIFEST
MVSNet.egg-info/*
.vscode/*
wandb/*
scratch/*
job/*

nohup.out
results.csv
build/*
