model/*
test_data/*
mvs_training/*
logs/*
*.pyc
*.rar
notebooks/*
*.DS_Store
old-models/*
commands.md
fused-point-clouds/*
dist/*
MANIFEST
MVSNet.egg-info/*
datasets/convert/demon_fixer.py

nohup.out
